@page
@model Inventory_Management.Pages.Product.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.Caterory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Caterory)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Products.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Products.probId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
